<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}図書館管理システム{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'libraryapp/base.css' %}">
</head>
<body>
    <header class="header">
        <h1><strong>🖥テック図書館</strong></h1>
        
        <nav>
            <a href="{% url 'home' %}">TOP</a>
            <a href="{% url 'mypage' %}">マイページ</a>

            <form method="post" action="{% url 'logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-link">ログアウト</button>
            </form>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>