{% extends "libraryapp/base.html" %}

{% block title %}貸出確認画面{% endblock %}

{% block content %}
<h2>貸出確認</h2>
<p>『{{ stock.book.title }}』</p>

<form method="post">
    {% csrf_token %}
    <div class="date-row">
        <label>返却予定日</label>
        <input
            type="date"
            name="due_date"
            value="{{ default_due_date|date:'Y-m-d' }}"
            min="{{ today|date:'Y-m-d' }}"
            max="{{ max_due_date|date:'Y-m-d' }}"
            required
        >
    </div>
    <small>&nbsp;&nbsp;返却予定日を選択してください。貸出期間は<strong>最大30日まで</strong>です。</small>
    <br><br><br>
    
    <button type="submit">貸出確定</button>
    
</form>
{% endblock content %}