{% extends "libraryapp/base.html" %}

{% block title %}貸出返却履歴{% endblock %}

{% block content %}
<h2>貸出返却履歴</h2>

<hr>

<table>
    <tr>
        <th class="number-header">No.</th>
        <th class="title">タイトル</th>
        <th class="author">著者</th>
        <th class="date">貸出日</th>
        <th class="date">返却日</th>
        <th class="location">保存場所</th>
    </tr>

    {% for history in histories %}
    <tr>
        <td class="number">
            {{ page_obj.start_index|add:forloop.counter0 }}
        </td>

        <td>
            <a href="{% url 'book_detail' history.stock.book.id %}">
                {{ history.stock.book.title }}
            </a>
        </td>

        <td>
            {{ history.stock.book.author }}
        </td>

        <td>
            {{ history.borrowed_at|date:"Y-m-d" }}
        </td>

        <td>
            {{ history.returned_at|date:"Y-m-d" }}
        </td>

        <td>
            {{ history.stock.location }}
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="6">
            貸出履歴はありません。
        </td>
    </tr>
    {% endfor %}
</table>

<br>

{% if is_paginated %}
<div class="pagination">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">
            &laquo; 前へ
        </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <span class="current">
                {{ num }}
            </span>

        {% elif num >= page_obj.number|add:"-3" and num <= page_obj.number|add:"3" %}
            <a href="?page={{ num }}">
                {{ num }}
            </a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
            次へ &raquo;
        </a>
    {% endif %}

</div>
{% endif %}

<a href="{% url 'mypage' %}">
    マイページへ戻る
</a>

{% endblock %}