{% extends "libraryapp/base.html" %}

{% block title %}マイページ{% endblock %}

{% block content %}
<h2 class="h2">マイページ（{{ user.username }}さん）</h2>
<hr>

<!-- 貸出中 -->
<h3>貸出中の本</h3>
<table border="1">
    <tr>
        <th>返却期限</th>
        <th>タイトル／著者</th>
        <th>保存場所</th>
        <th>返却</th>
    </tr>
    {% for borrow in borrows %}
    <tr>
        <td>{{ borrow.due_date }}</td>
        <td>
            <a href="{% url 'book_detail' borrow.stock.book.id %}">
                {{ borrow.stock.book.title }}／{{ borrow.stock.book.author }}
            </a>
        </td>
        <td>{{ borrow.stock.location }}</td>
        <td>
            <a href="{% url 'return_book' borrow.id %}"
                class="action-button3">
                返却する
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">貸出中の本はありません。</td>
    </tr>
    {% endfor %}
</table>

<br>

<hr>
<h3>予約中の本</h3>
<table border="1">
    <tr>
        <th>タイトル／著者</th>
        <th>予約日</th>
    </tr>
    {% for reservation in reservations %}
    <tr>
        <td>
            <a href="{% url 'book_detail' reservation.book.id %}">
                {{ reservation.book.title }}／{{ reservation.book.author }}
            </a>
        </td>
        <td>
            {{ reservation.reserved_at|date:"Y-m-d" }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">予約中の本はありません。</td>
    </tr>
    {% endfor %}
</table>

<br>

<hr>
<h3>取り置き中の本</h3>
<table border="1">
    <tr>
        <th>タイトル／著者</th>
        <th>受取</th>
    </tr>
    {% for hold in hold_stocks %}
    <tr>
        <td>
            <a href="{% url 'book_detail' hold.stock.book.id %}">
                {{ hold.stock.book.title }}／{{ hold.stock.book.author }}
            </a>
        </td>
        <td>
            <a href="{% url 'pickup_confirm' hold.id %}"
                class="action-button">
                受け取る
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">受け取り可能な本はありません。</td>
    </tr>
    {% endfor %}
</table>


<br>
<hr>
<a href="{% url 'home' %}">TOPページに戻る</a>
{% endblock content %}