<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>マイページ</title>
</head>
<body>
    <h1>マイページ</h1>
    <hr>
    <h2>貸出中の本</h2>

    {% if borrows %}
        <ul>
            {% for borrow in borrows %}
                <li>
                    {{ borrow.stock.book.title }}
                    （返却期限: {{ borrow.due_date }}）

                    <a href="{% url 'return_book' borrow.id %}">
                        返却する
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>貸出中の本はありません。</p>
    {% endif %}
    <br>
    <a href="{% url 'search' %}">TOPページに戻る</a>
</body>
</html>