{% extends "libraryapp/base.html" %}

{% block title %}マイページ{% endblock %}

{% block content %}
<h1>マイページ（{{ user.username }}さん）</h1>
<hr>

<!-- 貸出中 -->
<h2>貸出中の本</h2>
{% if borrows %}
    <ul class="borrow-list">
        {% for borrow in borrows %}
            <li>
                {{ borrow.stock.book.title }}／{{ borrow.stock.book.author }}
                <a href="{% url 'return_book' borrow.id %}">
                    返却する
                </a>
                <p>
                    　返却期限: {{ borrow.due_date }}
                    　保存場所: {{ borrow.stock.location }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>　貸出中の本はありません。</p>
{% endif %}

<br>

<!-- 予約中 -->
<h2>予約中の本</h2>
{% if reservations %}
    <ul>
        {% for reservation in reservations %}
            <li>
                {{ reservation.book.title }}／{{ reservation.book.author }}
                （予約日：{{ reservation.reserved_at|date:"Y-m-d H:i" }}）
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>　予約中の本はありません。</p>
{% endif %}

<br>

<!-- 取り置き中 -->
<h2>受取可能な本（取り置き中）</h2>
{% if hold_stocks %}
    <ul>
        {% for hold in hold_stocks %}
            <li>
                {{ hold.stock.book.title }}／{{ hold.stock.book.author }} <span>【受取待ち】</span>

                <a href="{% url 'pickup_confirm' hold.id %}"
                    class="action-button">
                    受け取る
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>　受取可能な本はありません。</p>
{% endif %}

<br>
<a href="{% url 'home' %}">TOPページに戻る</a>
{% endblock content %}