{% extends "libraryapp/base.html" %}

{% block title %}受け取り確認画面{% endblock %}

{% block content %}
<h2>取り置き本の受取確認</h2>

<p>『{{ hold.stock.book.title }}』</p>

<form method="post"
      action="{% url 'pickup_borrow' hold.id %}">
    {% csrf_token %}

    <label>返却予定日</label>
    <input
        type="date"
        name="due_date"
        value="{{ default_due_date|date:'Y-m-d' }}"
        min="{{ today|date:'Y-m-d' }}"
        max="{{ max_due_date|date:'Y-m-d' }}"
        required
    >

    <button type="submit">
        受け取る
    </button>
</form>
{% endblock content %}